@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}
.section{

	background-image:linear-gradient(rgba(245, 114, 7, 0.8),rgba(243, 199, 169, 0.925));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
	width: 100%;
	min-height: 100vh;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	box-shadow:#044463;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
	color: white;
}
.content-section .content h3{
	margin-top: 20px;
	color:#110b08;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #ca4f07;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	
	background-color:#fff;
    color:rgb(224, 86, 6);
    border:2px solid rgb(224, 86, 6);
}
.content-section .social{
	margin: 40px 10px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}


/*respoonsive*/
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;

}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 20px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:5px 20px;
}
.content-section .social{
	text-align: center;
}
}

